# Asana
ASANA_TOKEN=
ASANA_PROJECT_GID=1209988064308562
ASANA_WORKSPACE_GID=1208104128529800

# Google
GOOGLE_SHEETS_ID=1CZKPf3_NvN6TmGfvHn9Zic9MxLTBwsJqcnPdmlV1YKY
GOOGLE_SERVICE_ACCOUNT_KEY=./config/service-account.json

# Anthropic
ANTHROPIC_API_KEY=

# Servidor
PORT=3000
WEBHOOK_SECRET=

# Ambiente
NODE_ENV=development
